<!DOCTYPE html>
<html>
<head>
<title>Добавление</title>
<meta charset="utf-8" />
<style>
.field {
width: 180px;
}
</style>
</head>
<body>
<h1>Добавление специальностей</h1>
<form method="POST">
<label>Специальность </label><br>
<input name="nomer"/><br><br>
</select>
<input type="submit" value="Отправить" />
</form>
<a href="/">К списку специальностей</a>
<a href="/stud">К списку студентов</a>
</body>
<html>