
#kubik {
    position: absolute;
    width: 75px;
    height: 75px;
    background-image: url(https://pp.vk.me/c628627/v628627517/44839/qLlyXFzQzoM.jpg);
    background-size: cover;
}

#dody {
    position: relative;
    width: 500px;
    height: 500px;
    background-image: url(https://i.kym-cdn.com/photos/images/newsfeed/000/320/984/651.jpg);
}

