<!DOCTYPE html>
<html>
<head>
<title>Специальности</title>
<meta charset="utf-8" />
</head>
<body>
<h1>Специальности</h1>
<p><a href="/create">Добавить студента</a></p>
<p><a href="/stud">Список студентов</a></p>
<table>
<tr>
<th>Название</th>
<th>Код</th>
</tr>
{{#each speciality}}
<tr>
<td style="color: purple;">{{this.nomer}}</td>
<td>{{this.kod}}</td>
</tr>
{{/each}}
</table>
</body>

